body
{
	background: black;
	color: green;
}

/* Search section */
.srch
{
	margin: auto;
	padding-top: 10px;
	width: 300px;
}

/*Section to display result header */
.res-header{
	background-color: black;
	color: white;
}

/* class for current page <li> of results */
.current
{
  color: white;
}

#pagin li {
  display: inline-block;
  font-size: 16px;
  background: gray;
  color: black;
}